<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>

    <h3>Menu Projeto PI - DSM</h3>
    <div id="rellivros">

        <nav class="menuPrincipal">
            <h2 id="titulo">Menu Livros</h2>
            <ul>
                <li><a href="/">Login</a></li>                    
                <li><a href="/livros">Json Livros</a></li>
                <li><a href="#">Cadastrar Livros</a></li>                    
                <li><a href="/listar">Listar Livros</a></li>
                <li><a href="#">Autores</a></li> 
                <li><a href="#">Livros</a></li>                 
            </ul>                
        </nav>


    </div>

</body>
</html>
